@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Typography */
	--fs-200: 0.875rem; /*  14px  */
	--fs-300: 1rem; /* 16px */
	--fs-400: 1.125rem; /* 18px */
	--fs-500: 1.25rem; /* 20px */
	--fs-550: 1.375rem; /* 22px */
	--fs-600: 1.5rem; /* 24px */
	--fs-700: 1.75rem; /* 28px */
	--fs-750: 1.875rem; /* 30px */
	--fs-800: 2.125rem; /* 34px */
	--fs-850: 2.375rem; /* 38px */
	--fs-900: 3rem; /* 48px */
	--fs-950: 4.25rem; /* 68px */

	/* Display */
	--fs-display-sm: var(--fs-800);
	--fs-display-md: var(--fs-900);
	--fs-display-lg: var(--fs-950);

	--fs-display-text: clamp(var(--fs-display-sm), 3.5vw, var(--fs-display-lg));
	/* Heading */
	--fs-heading-primary-sm: var(--fs-700);
	--fs-heading-primary-md: var(--fs-850);
	--fs-heading-primary-lg: var(--fs-900);

	--fs-heading-primary-text: clamp(
		var(--fs-heading-primary-sm),
		3.5vw,
		var(--fs-heading-primary-lg)
	);

	--fs-heading-secondary-sm: var(--fs-600);
	--fs-heading-secondary-md: var(--fs-750);
	--fs-heading-secondary-lg: var(--fs-850);

	/* Card Heading */
	--fs-card-heading-sm: var(--fs-500);
	--fs-card-heading-md: var(--fs-600);
	--fs-card-heading-lg: var(--fs-750);

	--fs-card-heading-text: clamp(
		var(--fs-card-heading-sm),
		2.8vw,
		var(--fs-card-heading-lg)
	);

	/* Body */
	--fs-body-sm: var(--fs-200);
	--fs-body-md: var(--fs-300);
	--fs-body-lg: var(--fs-400);

	/* --fs-body-text: clamp(var(--fs-body-sm), 1.75vw, var(--fs-body-lg)); */

	--fs-sub-heading-sm: var(--fs-body-sm);
	--fs-sub-heading-md: var(--fs-body-md);
	--fs-sub-heading-lg: var(--fs-body-lg);

	--fs-sub-heading-text: clamp(var(--fs-sub-heading-sm, ), 3.5vw, var(--fs-sub-heading-lg));

	/* Hero Tags */
	--fs-tag-sm: var(--fs-body-md);
	--fs-tag-md: var(--fs-body-lg);
	--fs-tag-lg: var(--fs-550);
	/* Label */
	--fs-label-md: var(--fs-200);
	/* --fs-label-lg: var(--fs-400); */
	/* NavLinks */
	--fs-nav-link-md: var(--fs-label-md);
	/* --fs-nav-link-lg: var(--fs-label-lg); */
	--fs-nav-link-text: var(--fs-200);
	/* Button */
	--fs-button-md: var(--fs-label-md);
	--fs-button-lg: var(--fs-label-lg);

	--fs-button-text: clamp(var(--fs-button-md, ), 3.5vw, var(--fs-button-lg));

	/* Line-height */
	--lh-display: 1.28;
	--lh-heading: 1.323;
	--lh-body: 1.47;
	--lh-label: 1.41;

	/*--- Colors--- */
	/* Neutrals */
	--clr-neutral-100: #fff;
	--clr-neutral-150: #f5f5f5;
	--clr-neutral-200: #e6e6e6;
	/* --clr-neutral-250: #adadae; */
	--clr-neutral-300: #98989a;
	--clr-neutral-400: #24242433;

	--clr-neutral-500: #333333;
	--clr-neutral-600: #262626;
	--clr-neutral-700: #1a1a1a;
	/* Primary */
	--clr-primary-300: #d8ff99;
	--clr-primary-400: #9eff00;

	/* Semantic */
	--clr-heading: var(--clr-neutral-100);
	--clr-body: var(--clr-neutral-200);

	--clr-background-primary: var(--clr-neutral-700);
	--clr-background-secondary: var(--clr-neutral-400);
	--clr-background-tertiary: var(--clr-neutral-600);

	--clr-border-base: var(--clr-neutral-600);

	--clr-tag: var(--clr-neutral-300);

	/* Border Radius */
	--br-sm: 0.375rem; /* 6px */
	--br-md: 0.5rem; /* 8px */

	/* Sizes */

	--size-30: 1.875rem;
	--header-height: 4rem;
	--button-height: 2rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	/* Css Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		min-height: 100vh; /* fallback */
		min-height: 100svh;
		color: var(--clr-body);
		background: var(--clr-background-primary, #1a1a1a);
		font-size: 1rem;
		font-family: var(--font-barlow);
		scroll-behavior: smooth;
		/* padding-inline: 1rem; */
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span {
		text-wrap: balance;
		max-width: 75ch;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
			scroll-padding-top: 3rem;
		}
	}
}

@layer components {
	#hero-section {
		background-image: url("./components/sections/hero/hero-bg-img.webp");
		background-size: 40rem 15rem;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	@media screen and (min-width: 768px) {
		#hero-section {
			background-size: contain;
		}	
	}
	.hero-section-wrapper {
		position: relative;
		background-image: url("https://img.freepik.com/free-vector/grey-hexagons-black-background_78370-2098.jpg");
		background-repeat: repeat;
		z-index: -1;
		filter: hue-rotate(10deg);
	}

	.texture-bg {
		background-color: #DFDBE5;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.button-base {
		@apply inline-flex justify-center items-center text-button font-semibold px-[0.75em] h-[var(--button-height)];
	}

	.bg-secondary-composition {
		@apply border border-tag-box-border bg-secondary backdrop-blur-tag-box;
	}

	.fluid-body-fs {
		@apply text-body-sm md:text-body-md xl:text-body-lg
	}
	.fluid-card-heading-fs {
		@apply text-card-heading-sm md:text-card-heading-md xl:text-card-heading-lg
	}

	/* Header & Navigation */

	.header-checkbox__label > .x,
	.header-checkbox__label > .menu {
		transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
	}

	#menu-toggle:checked ~ .header-checkbox__label > .x {
		opacity: 1;
		transform: scale(1);
		transform: scale(0.95);
	}
	#menu-toggle:checked ~ .header-checkbox__label > .menu {
		opacity: 0;
		transform: scale(0.65);
	}

	@media screen and (max-width: 768px) {
		.nav {
			transition: opacity 0.4s ease-out;
			opacity: 0;
			position: fixed;
			inset: 0;
			height: calc(100vh - var(--header-height));
			top: var(--header-height);
			pointer-events: none;
		}
		.header-container:has(#menu-toggle:checked) .nav {
			overflow: auto;
			background-color: var(--clr-background-primary);
			opacity: 1;
			pointer-events: auto;
		}
	}

	.nav__list {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	@media screen and (max-width: 768px) {
		.header-container .nav > .nav__list {
			transition: all 0.4s ease-out;
			flex-direction: column;
			height: fit-content;
			align-items: flex-start;
			padding: 2.25rem;
			opacity: 0;
		}
		.header-container:has(#menu-toggle:checked) .nav > .nav__list {
			opacity: 1;
		}
	}

	/*------ Services ------ */

	.services-heading__wrapper {
		position: relative;
	}

	.services-heading__wrapper::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: #acff2433;
		background-image: url("./components/sections/services/save.webp");
		background-position: center center;
		background-repeat: no-repeat;
		filter: brightness(7.5%) hue-rotate(220deg);
		/* filter: grayscale(100%); */
		z-index: 0;
		mix-blend-mode: screen;
	}
	

	.services-heading__wrapper > * {
		position: relative;
		z-index: 1;
	}

	.card-icon-border {
		border: 1px solid;

		border-image-source: linear-gradient(
			180deg,
			#2e2e2e 0%,
			rgba(46, 46, 46, 0) 100%
		);
	}

	.with-subgrid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		gap: 1rem;
	}
	
	@media (min-width: 768px) {
	.with-subgrid {
		grid-template-columns: repeat(3, auto);
	  }
	}

	.service-card {
		display: grid;
		grid-template-rows: subgrid;
		grid-row: span 3;
	}


	.masonry-grid {
	  display: grid;
	  grid-template-columns:  1fr;
	  gap: 2rem;
	}

	@media screen and (min-width: 768px) {
		.masonry-grid {
		  display: grid;
		  grid-template-columns: 1fr 1fr 1fr;
		  gap: 2rem;
		}
	}

	/*---------- Marquee ----------*/
	   .marquee {
		   max-width: 1800px;
		   overflow: hidden;
		--speed: 25s;
		--single-slide-speed: calc(var(--speed) / var(--numItems));

		--item-width: 100px;
		--track-width: calc(var(--item-width) * var(--numItems)); 

		
		/* outline: 1px solid lime; */
		/* margin-left: 400px; */
	}
	@media screen and (min-width: 768px)  {
		.marquee {
		 --item-width: 125px; 
	}
	}
	
	.marquee-track {
		display: grid;
		width: max-content;
		grid-template-columns: var(--track-width)[track] 0px[resting];
		/* outline: 1px solid red; */
		container-type: inline-size;
	  }
	  
	  .marquee-item {
		grid-area: resting;
		animation: marquee-move var(--speed) linear infinite;
		animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1);
		 
		
		width: var(--item-width);
		aspect-ratio: 1/1.1;
		display: flex;
		justify-content: center;
		align-items: center;
		/* border: 1px solid black; */
		border-radius: 2rem;
		/* background-color: rgba(255, 255, 255, 0.1); */
		color: var(--clr-neutral-100);
	  }
	  
	  .marquee-item svg {
		height: auto;
		width: 50%;
	  }

	  .fadeout-horizontal {
		mask-image: linear-gradient(
			to right,
			transparent, 
			black 5rem,
			black calc(100% - 5rem), 
			transparent
		);
	  }

	  @keyframes marquee-move {
		to {
			transform: translateX(calc(-100cqw - 100%));
		} 
	  }
	  
	
}
